/* GENERAL +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

html {
    scroll-behavior: smooth;
  }
  
/* Style of the overall body */
body {
	padding: 0;
	margin: 0;
	background: rgba(236, 235, 235, 0.486);
    background-color: #cac8c7f3;
}

/* NAVBAR +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Style of the overall navbar */
.navbar {
    background: #F97300;
}

/* Style of the navbar brand */
.navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}
.navbar-brand:hover {
    background: #f4f4f4;
    color:#F97300;
}

/* Style of the navbar dropdown button */
.navbar-toggler {
    background: #fff !important;
}

/* Style of the overlall collapsable menu */
.navbar-collapse {
    justify-content: flex-end;
}

/* Style of the elements in the menu */
.nav-link {
    color: #f4f4f4;
    margin-right: 1em !important;
    cursor: pointer;
}
.nav-link:hover {
    background: #f4f4f4;
    color:#F97300;
}

/* HEADER +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Style of the header and its overlay*/
.header {
    position: relative;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    color: #F97300;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.822);
}

/* Style of the introduction title and paragraph*/
.description {
    position: absolute;
    top: 45%;
    margin: auto;
}
.description h1 {
    font-weight: bold;
}
.description p {
    color: #666666;
    font-size: 20px;
}

/* Style of the button*/
.description button {
    background: #F97300;
    color: #f4f4f4;
    border: #F97300;
}
.description button:hover {
    background: #f4f4f4;
    color: #F97300;
    border: #f4f4f4;;
}

/* ABOUT +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Style of the overall about section */
.about {
    margin: 4em 0;
    position: relative;
    height: auto !important;
}

/* Style of the title */
.about h1 {
    color:#F97300;
    margin: 1.5em;
    padding-top: 4em;
}

/* Style of the left-part of the section */
.about .about-left img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Style of the right-part of the section */
.about .about-right {
    padding-top: 0px;
}
.about .about-right h3 {
    color: #666666;
}
.about .about-right h5 {
    color: #666666;
    margin-bottom: 2em;
}
.about .about-right p {
    line-height:2;
    color:#666666;
}

/* EXPERIENCE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Style of the overall about section */
.experience {
    margin: 4em 0;
    padding: 0em;
    position: relative;
}

/* Style of the title */
.experience h1 {
    color:#F97300;
    margin: 3em;
    padding-top: 2em;
}

/* Style of the left-part of the section */
.experience .position .position-left {
    padding: 0;
}

/* Style of the logo */
.experience .logo {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: 0.5em;
}

/* Style of the position */
.experience .position {
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

/* Style of the company name */
.experience .company {
    color: #666666;
    font-size: 20px;
    font-weight: bold;
}

/* Style of the role */
.experience .role {
    float: center;
    color: #666666;
    font-size: 20px;
    font-style: italic;
}

/* Style of the tasks */
.experience .tasks {
    list-style-type: none;
    margin-left: -40px;
    color: #666666;
}

/* EDUCATION and SKILLS and CONTACT +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Style of the overall about section */
.education, .programming-skills, .contact {
    margin: 4em 0;
    padding: 0em;
    position: relative;
}

/* Style of the title */
.education h1, .programming-skills h1, .contact h1 {
    color:#F97300;
    margin-top: 1.5em;
    margin-bottom: 0.7em;
    padding-top: 2em;
}
.contact h1 {
    margin-bottom: 2em;
}

/* Style of the title */
.education h2, .programming-skills h2 {
    color:#F97300;
    margin: 1.5em;
}

/* Style of the left-part of the section */
.education .entry-left, .programming-skills .entry-left {
    padding: 0;
}

/* Style of the logo */
.education .logo, .programming-skills .logo  {
    width: 100%;
    max-width: 80px;
    height: auto;
    margin: 0.5em;
}

/* Style of the entry */
.education .entry, .programming-skills .entry {
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

/* Style of the school */
.education .school, .programming-skills .entry-name {
    color: #666666;
    font-size: 20px;
    font-weight: bold;
}

/* Style of the degree */
.education .degree {
    float: center;
    color: #666666;
    font-style: italic;
}

/* Style of the track */
.education .track, .programming-skills .rating {
    color: #666666;
}

.contact label {
    color:#666666;
    font-weight: bold;
}

.contact .input-field {
    color:#666666;
    width: 100%;
    margin-bottom: 10px;
}

/* Style of the button*/
.contact button {
    background: #F97300;
    color: #f4f4f4;
    border: #F97300;
    margin-bottom: 30px;
}
.contact button:hover {
    background: #f4f4f4;
    color: #F97300;
    border: #f4f4f4;
}

.contact .contact-right .social-entry {
    margin-left: 20px;
    margin-bottom: 49px;
}

.contact .contact-right i {
    font-size: 50px;
    color:#666666;
}

.contact .contact-right a, .contact .contact-right span {
    font-size: 20px;
    margin-left: 10px;
    color:#666666;
}

/* FOOTER +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Style of the overall footer */
footer {
    background-color:#F97300;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Style of the text */
footer .tools {
    color: #666666;
    font-weight: bold;
    font-style: italic;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
footer .copyright {
    color: #f4f4f4;
    font-weight: bold;
    padding-top: 0.5em;
}

